@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
    color:rgb(255, 255, 255);
}

body {
    background-image: url('backgroud.jpg');

    background-color: rgb(10, 95, 165);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.pw-container {
    margin-top: 3.125rem;
    background-color: black;
    box-shadow: 0 4px 10px rgba(15, 102, 107, 0.5);
    min-width: 400px;
}

.pw-header {
    padding: 1rem;
}

.pw {
    background-color: white;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
    height: 4,375rem;
    width: 100%;
    position: relative;
    padding: 1rem;
    overflow: auto;
}

.pwdays {
  
    display: flex;
    font-size: 1.0rem;
    align-items: center;
    height: 70px;
    width: 100%;
    position: relative;
    padding: 1rem;
    overflow: auto;
}

.pw button {
    background-color: rgb(17, 176, 216);
    border: none;
    color: rgb(29, 2, 56);
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    padding: 0.25rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, 20%);
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 0;
}

.pw:hover button {
    opacity: 1;
    transform: translate(0, 0%);
}

.pw-body {
    padding: 0 1rem 1rem;
}

.form-control {
    color: #eee;
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
}

.generate {
    background-color: #096d47;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    font-size: 1.75rem;
    font-weight: bold;
    padding: 1rem;
    margin-top: 1.25rem;
    width: 100%;
}

input { 
    text-align: center; 
    width: 3.25rem;
    color: black;
    height: 1.25rem;
}

label {
    display: inline-block;
    width: 25rem;
    text-align: left;
}

p{
    color: #000;
}

#modalButton {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.5rem;
    margin-top: 0.75rem;
    width: 100%;
}

canvas{ 
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#particles-container{ 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    background-color: #7A7A7A;
    /* background-image: url("https://images.unsplash.com/photo-1518818419601-72c8673f5852?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"); */
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 100% 100%; 
    z-index: -1;
}